.root{
    -fx-background-image: url("/scenes/images/01.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

.table{
    -fx-background-image: url("/scenes/images/table.jpg");
    -fx-background-size: contain;
    -fx-background-position: center;
}

.menu-label{
    -fx-background-color: brown;
    -fx-background-position: center;
    -fx-font-family: Georgia;
}

.text-style {
    -fx-font-family: Georgia;
    -fx-font-size: 72px;
    -fx-fill: #ffffff; /* Hex color */
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.5, 2, 2);
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.stack-pane-custom {
    -fx-background-color: rgba(0, 0, 0, 0.8); /* Light Sky Blue with 80% opacity */
}