.root{
    -fx-background-image: url("/scenes/images/01.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}
.menu-label{
    -fx-background-color: brown;
    -fx-background-position: center;
    -fx-font-family: Georgia;
}